body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    text-align: center;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-container .logo img {
    width: 50px; /* Sizga mos ravishda o'zgartiring */
    height: 50px;
    margin-right: 10px;
    border-radius: 50%; /* Doira shakli */
    border: 2px solid white; /* Oq chegarani qo'shish */
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s, background-color 0.3s; /* Effektning o'zgarish vaqtini belgilash */
}

nav a:hover {
    color: #4CAF50; /* Hover bo'lganda matn rangi o'zgaradi */
    background-color: white; /* Hover bo'lganda fon rangi o'zgaradi */
    border-radius: 5px; /* Burchaklarni yumshatish */
}

section {
    padding: 20px;
    margin: 10px 0;
    text-align: center;
}

.hero-img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 5px 0;
}

/* Sticky Header */
header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
